[Desktop Entry]
Name=Gvim
Comment=The vi editor for X Window System
Comment[pl]=Edytor vi dla Systemu X Window
Exec=gvim.athena
Terminal=0
Icon=gnome-word.png
Type=Application
# vi: encoding=utf-8
