[Desktop Entry]
Encoding=UTF-8
Name=Gvim
Comment=The vi editor for X Window System
Comment[pl]=Edytor vi dla Systemu X Window
Exec=gvim.athena
Terminal=false
Icon=gnome-word.png
Type=Application
Categories=Utilitiy;TextEditor;
# vi: encoding=utf-8
