[Desktop Entry]
Encoding=UTF-8
Name=Gvim Athena
Comment=The vi editor for X Window System
Comment[pl]=Edytor vi dla Systemu X Window
Exec=gvim.athena
Terminal=false
Icon=vim
MimeType=text/plain;
Type=Application
Categories=TextEditor;
# vi: encoding=utf-8
