[Desktop Entry]
Encoding=UTF-8
Name=Gvim
Comment=The vi editor for X Window System with Motif L&F
Comment[pl]=Edytor vi dla Systemu X Window jako aplikacja Motif
Exec=gvim.motif
Terminal=false
Icon=gnome-word.png
Type=Application
Categories=Utility;TextEditor;
# vi: encoding=utf-8
