[Desktop Entry]
Encoding=UTF-8
Name=Gvim
Comment=The vi editor for X Window System with GNOME L&F
Comment[pl]=Edytor vi dla Systemu X Window jako aplikacja GNOME
Exec=gvim.gnome
Terminal=false
Icon=gnome-word.png
Type=Application
Categories=Application;Utility;TextEditor;
# vi: encoding=utf-8
