[Desktop Entry]
Encoding=UTF-8
Name=Gvim GNOME
Comment=The vi editor for X Window System with GNOME L&F
Comment[pl]=Edytor vi dla Systemu X Window jako aplikacja GNOME
Exec=gvim.gnome
Terminal=false
Icon=vim
Type=Application
Categories=GTK;GNOME;TextEditor;
# vi: encoding=utf-8
