[Desktop Entry]
Encoding=UTF-8
Name=Gvim GTK
Comment=The vi editor for X Window System with GTK L&F
Comment[pl]=Edytor vi dla Systemu X Window jako aplikacja GTK
Exec=gvim.gtk
Terminal=false
Icon=vim
Type=Application
Categories=GTK;TextEditor;
# vi: encoding=utf-8
