[Desktop Entry]
Name=Vim
Comment=Vi IMproved - a Vi clone
Comment[de]=VIsual editor iMproved
Comment[es]=Editor visual incrementado
Comment[fr]=Editeur VIM : VIsual editor iMproved
Comment[pl]=Vi IMproved - klon edytora Vi
Comment[pt_BR]=Editor visual incrementado
Comment[ru]=Visual editor IMproved - ĺÄÉÎÓÔ×ĹÎÎĎ đŇÁ×ÉĚŘÎŮĘ ňĹÄÁËÔĎŇ :)
Comment[tr]=Geliţmiţ bir vi sürümü
Comment[uk]=Visual editor IMproved - ´ÄÉÎĎ ÷ŚŇÎÉĘ ňĹÄÁËÔĎŇ :)
Exec=vim
Icon=vim
MimeType=text/plain;
Terminal=true
Type=Application
Encoding=UTF-8
Categories=ConsoleOnly;TextEditor;
# vi: encoding=utf-8
